
/* Imports */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Place holder */

.place_holder {
    height: 100px;
    margin: 5px;
    background: no-repeat;
}

#big-rest-pic {
    height: 300px;
    width: 100%;
    object-fit:cover;
    transform: translateX(150px);
    transform: scale(1.2);
    margin-bottom: 25px;
    margin-top:25px;
    filter: grayscale(65%);
}


/* Variables */

:root {
    --primary-color: #F49B33;
    --grey-color: #444;
    --light-grey-color: #aaa;
    --lighter-grey-color: #ccc;
    --light-blue-color: #00a8cc;
    --rest-name: "";
}

/* Global Styles */

* ,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--grey-color);
    background-color: #ffffff;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--light-blue-color);
    cursor: pointer;
}

.btn {
    background-color: var(--primary-color);
    outline-color: var(--grey-color);
    border-color: var(--primary-color);
    color: #fff;
}
.btn:hover ,.btn:active ,.btn:link , .btn:visited {
    background-color: #f37f00;
}

spec {
    color: var(--primary-color);
}

label {
    color: var(--grey-color);
    border: none;
}

label:checked {
    background-color: #f37f00;
    color : #fff;
}


/*  @@ Animations */

@keyframes scaleUp {
    to {
        transform: scale(1.02);
        color: #f37f00;
    }
}
@keyframes scaleUpBase {
    to {
        transform: scale(1.02);
    }
}


/* Navigation Bar */


/* Brand */
nav a {
    text-decoration: none;
    color: var(--grey-color);
    font-size: 2rem;
    font-weight: 500;
}

nav a i {
    color: var(--primary-color);
    text-shadow: 0 2px 3px var(--grey-color);
}

nav a span {
    color: var(--primary-color);
    font-size: 2rem;
    text-shadow: 0 2px 3px var(--grey-color);
}

/* Navbar list */

.nav-item {
    list-style: none;
    display: inline-block;
    margin: 0 0.4rem;
}

.nav-item a{
    color:var(--grey-color);
}

.nav-item a.active {
    border-bottom: 2px solid var(--primary-color);
}

#login-btn , #signup-btn {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: round;
    transition: all 0.3s ease;
}

#login-btn:hover , #signup-btn:hover {
    background-color: #f37f00;
    color: #fff;
}

#login-btn {
    border-right: #fff 2px solid;
}

#signup-btn {
    border-left: #fff 2px solid;
}

#login-signup-btn {
    margin-left: 8rem;
    width: 200px;
}

#home-navBtn:hover,
#reservations-navBtn:hover,
#searched-navBtn:hover,
#single_rest-navBtn:hover {
    color: var(--primary-color);
}

/* Search Section */

.search-section-text {
    color: var(--light-blue-color);
}

.search-section-icon {
    color: var(--primary-color);
}

.search-section-text:hover {
    animation: scaleUp 1.5s 1 forwards alternate;
}

#location-nav,
#cuisine-nav {
    max-height: 200px;
    overflow-y: auto;
}

#location-nav ul li a,
#cuisine-nav ul li a {
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: var(--primary-color) 1px;


}
#location-nav,
#cuisine-nav {
    border-top: var(--primary-color) 1px;
    border-top-style: dashed;
    border-bottom: var(--primary-color) 1px;
    border-bottom-style: dashed;
}


#location-nav ul li a:hover,
#cuisine-nav ul li a:hover{
    background-color: var(--primary-color);
    color: #fff;
}

/* SINGLE REST PAGE */

.single-rest-container .rest-profile,
.single-rest-container .rest-map {
    box-shadow: var(--light-grey-color) 0 0 5px;
    border-radius: 5px;
    padding: 0;
}

.single-rest-container {
    margin-bottom: 75px;
}

.fa-angle-left {
    color: var(--primary-color);
}

.btn-go-back {
    font-size: 1.25rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-align: start;
    padding-left: 25px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: var(--primary-color);
}

.btn-go-back:hover {
    color: #fff;
    box-shadow: var(--light-grey-color);
}

.rest-img img{
    width: 100%;
    padding: 2% 5%;
}

.rest-name {
    padding-left: 5%;
    font-size: 2rem;
    color: var(--grey-color);
}

.fa-info-circle,
.fa-clock,
.fa-location-dot,
.fa-window-restore {
    color: var(--primary-color);
}

#rest-open-hours-text,
#rest-location-text ,
#rest-menu-text{
    color: var(--light-blue-color);
    font-size: 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.rest-about-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
}

/* Single Rest Page - Comment Section */

.comment-section-container {
    margin-top: 4rem;
    padding: 1rem;

}

#comment-rating {
    position: relative;
    left:5px;
    bottom:1px; 
    font-size: 1.1rem;
}

.comment-container {
    margin-top: 4rem;
    padding: 1rem;
}

.rating-type {

    border-bottom: solid 1px var(--primary-color);
    border-right: solid 2px var(--primary-color) ;
    height: 35px;
}

.rating-type h4 {
    display: inline;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--grey-color);
    padding: 5px 0;
}

.rating-type .rating-value {
    position: relative;
    left: 15px;
    bottom: 1px;
}

.single-comment {
    margin-bottom: 3rem;
}

.img-container {
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: .2rem;
    border: 1px var(--grey-color) ;
    border-style:dashed;
}

#profile-pic {
    width: 100%;
    display: inline;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

.commentator-info {
    width: 250px;
    margin-left: 10px;
    display: inline-block;
    font-size: .9rem;
    position: relative;
    bottom: 10px;
}

.commentator-name {
    font-size: 1.2rem;
    display: block;
}

.commentator-rating {
    position: absolute;
    top: 25px;
}

.comment {
    border-left: 1px solid var(--primary-color);
    padding-left: 12px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--grey-color);
    margin-top: 1rem;
}

/* Insert Comment */

.insert-comment-container {
    margin-left: 30px;
    box-shadow: var(--primary-color) 0 0 10px;
    height: 600px;
}

#your-comment-text {
    color: var(--grey-color);
    font-size: 1rem;
    margin-bottom: 0;
    margin-left: 0;
    background: none;
}

#send-comment-btn {
    border-radius: 25px;
    padding: 5px 10px;
    margin-top: 10px;
}

/* insert rating */

.rating-container {
    padding-top: 40px;
    margin-top: 10px;
    text-align: left;
}

.rating-text {
    color:var(--grey-color);
}

.rating {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: .5rem;
	font-size: 2rem;
	color: var(--primary-color);
	margin-bottom: 2rem;
}

.rating .fa-star {
	cursor: pointer;
}
.rating .fa-star.active {
	opacity: 0;
	animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	50% {
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.rating .fa-star:hover {
	transform: scale(1.1);
}

/* Reservation Page */

.reservation-container {
    margin-bottom: 100px;
}

.reservation-container h5 {
    font-size: 3rem;
    margin-bottom:2rem;
}

.reservation-container .btn-group {
    margin-bottom: 2rem;
} 

.reservation-rest-name {
    font-size: 2rem !important;
    font-style: italic;
}

.reservation-date,
.reservation-time,
.reservation-status {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--grey-color);
}

.reservations .border {
    border-style:dashed !important;
    border-width: 2px !important;
}


/* HomePage - About Section */

.about-text-small {
    font-size: 1rem;
    font-weight: 400;
    color: var(--light-grey-color);
    display: block;
}

#about-us {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#about-us h5 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--grey-color);
    margin-bottom: 1rem;
}

/* Filter Section */
.fa-filter {
    color: #fff;
    font-size: 1.5rem;
}

#filter-text {
    border-left: 2px solid var(--primary-color);
}

/* Search Result Section */

#search-result-container {
    box-shadow: var(--light-grey-color) 0 0 10px;
    border-radius: 5px;
    height:fit-content;
    margin-bottom: 100px;
    padding: 20px;
}

.card-text {
    font-size: .9rem;
    font-weight: 500;
    color: var(--grey-color);
}

.restaurant-card {
    width: 18rem;
}

.rest-rating {
    position: relative;
    width: fit-content;
}


.rest-rating-text {
    position: relative;
}

.rest-open-hours {
    float: right;
    position: relative;
    right: 20px;
}

.fa-star,
.fa-star-half-stroke {
    color: var(--primary-color);
}

.card {
    border:none;
}

.card:hover {
    animation: scaleUp 1s 1 forwards alternate ease-in-out;
}

.card .btn:hover {
    color: var(--grey-color);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}


/* Footer Section */

footer {
    font-size: 1rem;
    font-weight: 500;
    font-style:italic;
    background-color: var(--primary-color);
    padding-top:10px;
  }
  
  footer span {
    font-size: 1.2rem;
  }

  .footer-motives {
    margin-top: 250px;
    background: url('../img/motives.png') repeat;
    background-color: transparent;
    height: 200px;
    margin-right: 0;
    margin-left: 0;
  }

  .footer-motives h5 {
    position: relative;
    top: -25px;
    color: var(--primary-color);
    font-size: 5rem;
    font-weight: 700;
    font-style: oblique;
    z-index: -1;
  }
  
  #copyright {
    margin-top: 5px;
    padding: 20px;
    color: #fff;
  }
  
  #copyright a:focus,
  #copyright a:link {
    text-decoration:none;
    font-size: 1rem;
  }
  
  #copyright a:hover,
  #copyright a:active {
    color: #fff;
    font-size: 1.1rem;
  }
  
  #hours , #address {
    line-height: 1.75;
  }
  
  #testimonials p:nth-child(2) {
    margin-top:15px;
  }

  /* 
  
    LOGGED-IN HOME PAGE : RESTAURANT SUGGESTIONS SECTION

  */

.rest-sm-info {
    height:175px;
    overflow-y:scroll;
}



/*
    .rest-small-img:hover {
    background-blend-mode:screen;
    animation: scaleUp 1s 1 forwards alternate ease-in-out;
}

    .rest-small-img::before {
    content: var(--rest-name);
    display: block;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: var(--primary-color);
    filter: opacity(.75);
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 10px;
}
*/

.fa-heart {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--primary-color);
}




/* Media Queries */

/* SMALL - Mobile-Tablet */

@media screen and (max-width: 768px){
    /* Search section */
    .search-section-text {
        font-size: 1.5rem;
    }

    #searchSectionHeader{
        font-size: 2rem;
    }
}
/* MEDIUM */

@media screen and (min-width: 769px) {
    /* Search section */
    .search-section-text {
        font-size: 2rem;
    }

    #searchSectionHeader{
        font-size: 3rem;
    }
}